body{
  min-width: 100vw;
  min-height: 100vh;
  background: url('https://source.unsplash.com/random') no-repeat;
  background-size: 100%;
}

.upperScreen{
  min-height: 70vh;
}

.bottomBox{
  min-height: 30vh;

}

.actualBox{
  background-color: black;
  border-style: double;
  border-color: white;
  border-width: thick;
}

.player{
  max-width: auto;
  max-height: 30vh;
}
